<% @url = event_team_points_path(@event, @team) %>
<% @aksi = "Tambah" %>
<% @objek = "Point" %>
<% if flash[:notice] %>
<div class="callout callout-info">
  <p><%= flash[:notice] %></p>
</div>
<% end %>

<% if flash[:warning] %>
<div class="callout callout-danger">
  <p><%= flash[:warning] %></p>
</div>
<% end %>
<%= render 'form' %>
